# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/bin
app/Data
app/build

# IDE Folders
.idea
.vscode

# Ignore hljs and marked files
app/static/js/outerPKG/*

# Ignore JetBrains Mono Font
app/static/font/JetBrainsMono
