# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/bin
app/Data/log.db
app/Data/WindForum.db
app/build

# IDE Folders
.idea
.vscode

# Ignore hljs and marked files
app/assets/static/js/outerPKG/highlight

# Ignore JetBrains Mono Font
app/assets/static/font/JetBrainsMono

self-clitools/lines-counter/CMakeLists.txt
self-clitools/lines-counter/pybind_lines.cpp
