.notice_main {
    position: fixed;

    left: 50vw;

    top: 30vh;
    background: #6D4E3FCC;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;

    border: 0.1px solid rgba(77, 56, 43, 0.8);

    z-index: 9999;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.notice_main.show {
    opacity: 1;
}