<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, CssNoGenericFontName, JSUnresolvedLibraryURL, JSUnresolvedReference, CssUnusedSymbol -->
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wind Forum</title>
        <link rel="stylesheet" type="text/css" href="/static/css/posts.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/static/css/upload_area.css">
        <link rel="stylesheet" type="text/css" href="/static/css/UI_Layout.css">
        <link rel="stylesheet" type="text/css" href="/static/css/component/notice.css">
        <link rel="stylesheet" href="/static/js/outerPKG/highlight/styles/default.min.css">
        <link rel="font" href="/static/font/JetBrainsMono/fonts/webfonts/JetBrainsMono-SemiBold.woff2">
        <style>
            .channel:hover {
                background-color: #f0ede6;
                box-shadow: 0 2px 4px rgba(90, 76, 58, 0.1);
            }
        </style>
    </head>
    <body class="mouse">
        <div id="main" class="main">
            <div id="left_banner" class="left_banner">
                <div id="menu_icon">
                    <a href="/index"><img src="/favicon.ico" alt="HOME"></a>&emsp;&nbsp;&nbsp;&emsp;
                </div>
                <div id="menu_dash">
                    <a href="/dashboard">个人主页</a>
                </div>
            </div>
            <div id="middle" class="middle">
                <div id="upload" class="upload"></div>
                <div id="postContainer"></div>
                <div id="channelContainer"></div>
            </div>
            <ul id="right_banner" class="right_banner"></ul>
        </div>
        <script src="/static/js/index/requires.js"></script>
        <script src="/static/js/component/loader.js"></script>
        <script>
            loader(normal_scripts);
            loader(defer_scripts, true, ()=>{ return main(); });
        </script>
    </body>
</html>
