<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WindForum</title>
    <link rel="stylesheet" type="text/css" href="/static/css/posts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cursor.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
</head>
<body>
<div id="user_info"></div>
<div id="postContainer"></div>
<script src="/static/js/focus.js"></script>
<script src="/static/js/services/posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" defer></script>
<script src="/static/js/services/authorize.js"></script>
<script src="/static/js/display/render_posts.js"></script>
<script src="/static/js/services/error.js"></script>
<script>
    document.title = window.location.pathname.split("/")[2] + " | " + document.title;

    const poster = new PostManager();
    /** Render Posts List */
    async function loadPosts() {
        return await poster.getUserPosts(poster.authorizer.getEmail());
    }
    renderPosts(document.getElementById("postContainer"), loadPosts);

    /** Render User Info */
    async function loadUserInfo() {
        return await poster.
    }
</script>
</body>
</html>